body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4e8eb;
    /*  фона */
}

.calculator {
    border: 2px solid #020608;
    /*  цвет для рамки */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #a79c9c;
    /* Белый цвет для области калькулятора */
}

#display {
    width: calc(94% - 20px);
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #bcccb2;
    /* цвет для дисплея */
    box-shadow: inset 0 0 10px 5px rgba(0,0,0,0,2);
}

.buttons {
    display: grid;
    border: 1px solid #272a2c;
    /* Синий цвет для рамки кнопок */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,3);

}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #ffffff;
    /* Белый текст на кнопках */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

button.memory {
    background-color: #2196f3;
    /* Синий цвет для кнопок памяти */
    color: #ffffff;
}

* Активные кнопки будут иметь более светлый синий цвет */ button:active {
    background-color: #2980b9;
}

/* Стили для кнопок, не добавляющих цифры на дисплей (операторы, MS, MR) */
button:not([onclick^="appendToDisplay"]) {
    background-color: #2a66a3;
    /* Темно-синий цвет для этих кнопок */
}
button.function {
    background-color: #e06a0f;
}